<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security</title>
</head>
<body>
<form th:action="@{/api/v1/auth2/authenticate}" method="post" th:object="${authenticationRequest}">
    <div><label> Почта: <input type="text" name="почта"
                               th:field="*{email}"/> </label></div>
    <div><label> Пароль: <input type="password" name="пароль"
                                th:field="*{password}"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
<a th:href="@{/api/v1/auth2/register}">Вернуться на страницу регистрации</a>
</body>
</html>
